#bodyWebview {
  display: flex;
  flex-direction: column;
}

#sectionContent {
  margin-bottom: 20vh;
}

#sectionContent.resizingElements {
  margin-bottom: 100vh;
}

#btnRender {
  width: fit-content;
}

@media screen and (min-width: 1024px) {
  #bodyWebview {
    padding: 0 8rem;
    max-width: 1024px;
    margin: 0 auto;
  }
}

#secDebug, #secOutput {
  margin-top: 1rem;
}

#secDebug .cm-editor, #secOutput .cm-editor, #divProfiles .cm-editor {
  min-height: 8rem;
}

vscode-form-container {
  max-width: unset;
}

vscode-form-group {
  --label-width: 6rem;
}

vscode-form-helper {
  max-width: unset;
  width: 100%;
}

vscode-form-helper  > *:not(:last-child) {
  margin-bottom: 1rem;
}

vscode-form-helper .cm-editor .cm-line {
  margin-bottom: unset;
}

vscode-toolbar-button.disabled {
  opacity: 0.4;
}

.containerVertical {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100%;
  width: 100%;
}

.containerVertical.largerGapSize {
  grid-row-gap: 1.5rem;
}

.containerHorizontal {
  display: flex;
  align-items: center;
  flex: 1 1;
}

.containerHorizontal .containerFill, .containerHorizontal .cm-editor {
  flex: 1 1;
}

.containerHorizontal > *:not(:last-child) {
  margin-right: 0.5rem;
}

.cm-editor {
  background-color: var(--vscode-textCodeBlock-background);
  border: 1px solid var(--vscode-input-border);
  height: 8rem;
  max-height: 90vh;
  overflow: hidden;
  resize: vertical;
}

.cm-editor .cm-line {
  font-family: var(--vscode-editor-font-family);
}

.cm-placeholder, .cm-highlightSpace, .cm-highlightTab {
  opacity: 0.3;
}

.placeholderCodeMirror {
  display: none;
}

.cm-editor.parserError {
  border: 1px solid var(--vscode-inputValidation-errorBorder);
}

.errorBox {
  background-color: var(--vscode-statusBarItem-errorBackground);
  border-radius: 2px;
  color: var(--vscode-statusBarItem-errorForeground);
  padding: 0.5rem;
}

vscode-form-helper.hidden, vscode-progress-bar.hidden, .errorBox.hidden {
  display: none;
}

.resultType {
  align-self: self-start;
  grid-row-gap: 0.5rem;
  width: unset;
}

.resultType vscode-icon.inactive {
  opacity: 0.3;
}

.cm-completionInfo {
  overflow: hidden;
}

.cm-completionInfo .wrapper {
  display: block;
}

.cm-completionInfo .code {
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
}
