#bodyWebview {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 1.5rem;
  width: 100%;
}

#btnRender {
  width: fit-content;
}

#divFailed {
  background-color: var(--vscode-statusBarItem-errorBackground);
  border-radius: 2px;
  color: var(--vscode-statusBarItem-errorForeground);
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
}

#divFailed.hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  #bodyWebview {
    padding: 0 8rem;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.CodeMirror {
  height: 8rem;
  resize: vertical;
}

.CodeMirror-placeholder {
  opacity: 0.3;
}
